<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="atlassianConnectResources">
        <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.5/css/aui.min.css" media="all">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//aui-cdn.atlassian.com/aui-adg/6.0.5/js/aui.min.js"></script>
    </th:block>
</head>
<body></body>
</html>
