<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: atlassianConnectResources}">
    <title>Atlassian Connect Spring Boot Thymeleaf Sample</title>
</head>
<body class="aui-page-hybrid">
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Thymeleaf Sample</h1>
            </div>
        </div>
    </header>
    <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item">
                <div class="aui-group">
                    <div class="aui-item">
                    	Hello, <span th:text="${#authentication.principal.userKey.get()}">User</span>!
                    	
                    	<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th class="firstColumn">#ID</th>
									<th>Key</th>
									<th>Summary</th>
									<th>Description</th>
								</tr>
							</thead>

							<tbody id="myTBody">
							    <tr th:each="issue : ${issues}" class="myRow">
							    	<td class="firstColumn">
							    		<span th:text="${issue.getId()}"></span>
							    	</td>
							    	<td width="10%">
							    		<span th:text="${issue.getKey()}"></span>
							    	</td>
							    	<td width="70%">
							    		<span th:text="${issue.summary}"></span>
							    	</td>
							    	<td width="20%">
							    		<span th:text="${issue.description}"></span>
							    	</td>
								</tr>
							</tbody>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>
