<html>
  <head>
    <title>MyServlet Admin</title>
    <meta name="decorator" content="atl.admin">
  </head>
  <body>
    <form id="admin" class="aui" action="" method="POST">
        <div class="field-group">
             <label for="name">Name:</label>
             <input type="text" id="name" name="name" class="text">
        </div>
        <div class="field-group">
             <label for="age">Age:</label>
             <input type="text" id="age" name="age" class="text">
        </div>
        <div class="field-group">
            <input type="submit" value="Save" class="button">
        </div>
    </form>
  </body>
</html>